@import "../../styles/vars.scss";

.root {
  display: flex;
  flex-direction: column;
  max-width: 940px;
  margin: auto;
  margin-bottom: 50px;
  min-height: 500px;
  gap: 50px;
}

.header {
  display: flex;
  justify-content: space-between;
  color: $secondary;
  font-size: 12px;
  margin-top: 50px;
  padding: 0 15px;

  @media screen and (min-width: $mobile) {
    font-size: 24px;
  }
}

.button {
  outline: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.button > svg {
  fill: $secondary;
}

.button:hover > svg {
  fill: $primary;
}

.activeButton > svg {
  fill: $primary;
}

.filter {
  cursor: pointer;
}

.filter:hover {
  color: $primary;
}

.grid {
  display: grid;
  grid-template-rows: 220px 220px 220px;
  gap: 20px;
  grid-template-columns: 300px;
  margin: auto;
  width: auto;

  @media screen and (min-width: $mobile) {
    justify-content: center;
    grid-template-columns: 300px 300px 300px;
  }

  @media screen and (min-width: $mobile) and (max-width: $tablet) {
    justify-content: center;
    grid-template-columns: 300px 300px;
  }

}

.list {
  display: flex;
  flex-direction: column;
  gap: 20px;

  @media screen and (max-width: $mobile) {
    font-size: 12px;
  }
}

.description {
  

  @media screen and (max-width: $mobile) {
    display: none;
  }

  @media screen and (min-width: $mobile) and (max-width: $tablet) {
    max-width: 300px;
    font-size: 12px;
  }
}

.gridItem {
  display: flex;
  gap: 25px;
  width: 100%;
  height: 220px;
  justify-content: center;
}

.hidden {
  display: none;
}

.paginationControls {
  width: 100%;
  text-align: center;
}
