@import "../../styles//vars.scss";

.article {
  color: $grey2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: auto;
  margin-top: 50px;
  padding: 0 10px;
  font-family: "Helvetica Neue", Helvetica, Arial;
  @media screen and (min-width: 600px) {
    line-height: 22px;
    max-width: 940px;
    gap: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas:
      "intro intro"
      "statement facts"
      "services services";
  }
}

.articleHeading {
  font-family: Novecento Wide;
  font-size: 24px;
  text-transform: uppercase;
  margin-bottom: 28px;
  text-align: left;
  @media screen and (min-width: 600px) {
  }
}

.intro {
  @media screen and (min-width: 600px) {
    grid-area: intro;
    display: flex;
    gap: 28px;
  }
}

.introImg {
  @media screen and (min-width: 600px) {
    min-width: 380px;
  }
}

.introText {
  text-align: justify;
  font-size: 14px;
  line-height: 22px;
  @media screen and (min-width: 600px) {
    text-align: left;
  }
}

.introText > p {
  @media screen and (min-width: 600px) {
    margin-top: 0;
  }
}

.statement,
.facts {
  @media screen and (min-width: 600px) {
    font-size: 14px;
  }
}

.statement > p,
.facts > p {
  text-align: justify;
  @media screen and (min-width: 600px) {
    margin-top: 0;
  }
}

.statement {
  grid-area: statement;
}

.facts {
  grid-area: facts;
}

.services {
  font-family: "Helvetica Neue", Helvetica, Arial;
  grid-area: services;
  color: $grey2;
}

.styledList {
  list-style-image: url(../../assets/img/about/bullet.png);
  padding-inline-start: 1ch;
}
